.Setup {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.178);
  padding: 1rem;
  height: 100%;
  .setup-form-section {
    margin: 1rem;
  }

  .outer-container {
    border-radius: 48px;
    width: 700px;
    margin: 0 auto;
    box-shadow: -6px 8px 11px 0px rgba(26, 26, 26, 0.1607843137);
    backdrop-filter: blur(5px);
    background-color: rgb(255 255 255 / 20%);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    > div {
      flex: 1;
      margin: 1rem;
    }
    > div:first-of-type {
      // flex: 0.5;
      margin: 0;
      animation: colourRotate 10s infinite linear;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
    }
    h2 {
      text-align: center;
    }
    @keyframes colourRotate {
      from {
        filter: hue-rotate(0deg);
      }
      to {
        filter: hue-rotate(360deg);
      }
    }
    .form-control {
      width: 100%;
      padding: 0.5rem;
      margin: 0.5rem 0 1rem 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      border-radius: 25px;
    }
  }

  .form-submit {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}
