.question-option {
  box-shadow: 3px 3px 8px 0px #0000004f;
  background-color: #857ed4;
  list-style-type: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  padding: 1.5rem;
  font-size: 110%;
  user-select: none;
  border: 0;
  position: relative;
  img {
    max-height: 70%;
    position: absolute;
    left: 2%;
  }
}

.question-option.selected {
  outline: 3px solid #d44cf7;
  background-color: #3dacb5;
  cursor: pointer;
}

.question-option.not-selected:hover:not([disabled]) {
  background-color: #3dacb5;
  cursor: pointer;
}

.question-option:disabled {
  background-color: rgba(133, 126, 212, 0.5);
  color: unset;
}

.question-option.selected-incorrect {
  background-color: #f44336 !important;
}

.question-option.selected-correct {
  background-color: #00ba00 !important;
}
